.error404 {

    .hfeed.site {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .site-content {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
       


        .content-area{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 5%;
        }
        .content-area {
            width: 70%;
            border-right: 1px solid $lightgrey;
        }
    }


    .site-main {
        width: 100%;
        margin-left: 5%;
        
    }

    section.error-404-not-found {
        margin: 10%;
        width: 100%;

       
    }
    .page-title{
        text-transform:uppercase;
        
    }

    .page-content{
        padding-bottom:5%;
        p{
            font-family:'Merriweather';
            font-weight: 300;
            font-style: normal;
        }

        .navigation-searchbar{

            input[type=search]{
                background-color:$lightgrey;
                border-radius:0px;
            }
            input[type=search]::placeholder{
                font-family:'Merriweather';
                text-transform:capitalize;
            }
            
        }
    }

    section.content-area {
        width: 100%;
    }

    form.search-form fieldset {
        border: none;
        width: 13rem;
        input[type=search] {
            width: 100%;
        }

    }

    // page widgets for recent posts and most used 
    // categories suggestions

    .widget.widget {

        .widget_archive {
            margin-top: 5%;
        }

        h2 {
            font-size: 1.5rem;
            font-family: 'Novecento';
            font-weight: 600;
            font-style: normal;
        }

        ul {
            list-style: none;
            list-style: none;
            margin: 0px;
            padding: 0px;

            li a {
                text-decoration: none;
                font-family: 'Merriweather';
                color: $green;
                font-size: 1rem;
            }

            li a:hover {
                color: black;
            }
        }
    }

    .widget_recent_entries{
        margin: 10% 0% 0% 0%;
    }


    .sidebar-wrapper {
        width: 30%;
    }

    .site-footer {
        width: 100%;
    }
    
}