
// ==========================================================================================================

//                                  ABOUT PAGE 

// ==========================================================================================================

.page-template-page-about {

	.entry-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		align-content: center;
		justify-items: center;
	}

	.entry-header{
		position:absolute;
		
	}
		
	.entry-title {
			color:white;
			display:flex;
	
		}

	.entry-text{
		margin:7%;
	}	
	
	.entry-content p {
		color: #404040;
		font-family: 'Merriweather-L';
		margin-left: 15%;
		margin-right: 14%;
	}
	h2 {
		text-align: center;
		font-family: 'Novecento-DemiBold';
	}
	p {
		margin-bottom: 1.5rem;
	}
	.entry-img {
		display: flex;
		justify-content: center;
	}
}