// ==========================================================================================================
//                                  ABOUT PAGE 
// ==========================================================================================================
.page-template-about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.site-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.site-header {
		z-index: 1;
	} 
	
	// // ===================================================================================
	// //                                HERO IMAGE 
	// // ===================================================================================

	.page-image {
		display: flex;
		max-width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));

		h1 {
			position: absolute;
			color: white;
			font-family: 'Novecento';
			font-weight: 600;
			font-style: normal;
			font-size:3rem;
		}
	}

	img {
		position: relative;
		z-index: -1;
	} 
	
	// ===================================================================================
	//                               About Text
	// ===================================================================================

	.entry-text {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 15%;
		margin-right: 15%;

		h2 {
			font-family: 'Novecento';
			font-weight: normal;
			font-style: normal;
			font-size: 2rem;
			text-align: center;
		}

		p {
			font-family:'Merriweather';
			font-size: 1rem;
			font-weight: 300;
			font-style: normal;
		}
	}


	footer {
		width: 100%;
	}
	
}