.page-template-archive-adventures{
   
    display:flex;
    flex-wrap:wrap;


    .site-content{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
    }

    .adventures-title{
        display:inline-flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:100%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        margin: 5%;
        border-bottom: 1px dashed lightgrey;

    }

    .all-adventures{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:100%;
        justify-content:center;
    }
    
    
    .single-adventure{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis:40%;
        margin: 1%;

    }

    .adventure-link{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
        margin-top:5%;
        position: absolute;
        margin: 3%;

        a{
            font-size:3rem;
            text-decoration:none;
            color:white;
            font-family: 'headings';
        }

        button{
            background-color:transparent;
            border:1px solid white;
            box-shadow:none;
            border-radius:0px;
            text-shadow:none;
            color:white;
            font-family: 'main-light';
            height:3rem;
            width:25%;


        }
    
    
    }


} 