.page-template-archive-adventures {
    display: flex;
    flex-wrap: wrap;

    .site-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .adventures-title {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        margin: 5%;
        border-bottom: 1px dashed $lightgrey
    }

    .all-adventures {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%; 
    }

    .single-adventure {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 48%;
        height: 500px;
        margin: 1%;
    }

    .adventure-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .adventure-image,
    img {
         height: 100%;
         z-index:-1;
    }

    .adventure-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width:32%;
        min-height:40%;
        margin-top: 5%;
        position: absolute;
        margin: 3%;

        a {
            font-size: 2.8rem;
            text-decoration: none;
            text-transform: capitalize;
            color: white;
            font-family: 'main-light';
            position: absolute;
            width: 470px;
            height: 4rem;
        }

        a:hover{
            color:$yellow;
        }


        button {
            background-color: transparent;
            border: 1px solid white;
            box-shadow: none;
            border-radius: 0px;
            text-shadow: none;
            color: white;
            font-family: 'headings';
            font-size: 1rem;
            text-transform: uppercase;
            height: 3rem;
            width: 30%;
        }

        button:hover{
            background-color:$green;
            color:white;
            border:none;
            }
    
    }
}