body.blog{

    .content-area{
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 1%;

    }
    

   
    header{
        position:relative;

     

    }

   

    
    .site-main{
        margin-top: 5%;
        margin-left:5%;
        margin-right: 5%;
        
    }


   .entry-header img{
        
     width: 100%;
     max-width: 100%;
   
     height: 100%;
 }


    .entry-header{
       
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

   .entry-title{
        background-color: $green;
        background-color: #248a83;
        position: absolute;
        width:80%;
    

       a{
           color:white;
           font-size:3rem;
           font-family:'headings-bold';
           text-decoration: none;

       }

    }

   .entry-meta {
    background-color:$green;
    color:white;
    background-color: #248a83;
    color: #fff;
    position: absolute;
    right:0px;
    bottom:0px;
    text-transform:uppercase;
    font-family:'headings';
    

    }


     .entry-content{
        margin-top:5%;
        font-family:'main-light';
        font-size:1rem;
     }


     button{
         box-shadow:none;
         background-color:transparent;
         width:20%;
         border:1px solid black;
         text-shadow:none;
         border-radius:0px;
         height:3rem;
      

         a{
             text-decoration:none;
             text-transform:uppercase;
             color:black;
             font-family:'main-light';

         }

     }
     
     article{
         margin-top:10%;
     }


}



    


