// ====================================================================================================================

// #                                                        Content DEFAULT 

// ====================================================================================================================
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: $base__space-unit 0 0;
	margin: 0px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.entry-content {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	.entry-title {
		color: black;
		text-transform: uppercase;
		font-family: 'Novecento-DemiBold';
		
	}
}

.entry-content p {
	margin: 0px;
}

.site-content {
	display: flex;
	flex-direction: row;
}


