/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: $base__space-unit 0 0;
	margin:0px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.entry-content{
	display:inline-flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 0px;
    margin-right: 0px;
	margin-top:0px;
	
	.entry-title{
		color: white;
		font-family:"mainFontlight"; 
		text-transform: uppercase;
		position: absolute;
		align-self: center;
	}
   
}

.entry-content p{
	margin: 0px;
}

.site-content{
	display: flex;
	flex-direction:row ;
}


// ================================================================================
// content styling about page 
// ================================================================================

body.page-id-22 {


	
	.entry-content{
		display:inline-flex;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content: center;
		
		
		.entry-title{
			color: white;
			position: absolute;
			align-self: center;
			margin-top: -25%;
		}
	 
		
		
	}
	.entry-content p{
		color:#404040;
		font-family:"mainFontLight";
		margin-left: 15%;
		margin-right: 14%;
		

	}

	h2{
		text-align: center;
	}

	p{
		margin-bottom: 1.5rem;
		
	}


	.entry-img{
		display: flex;
    justify-content: center;
	}
}

// ================================================================================
// content styling find us page
// ================================================================================


body.page-id-49{
	.site-content{
		flex-direction: row-reverse;
	}
}

// ================================================================================
// content styling journal page
// ================================================================================

// body.page-id-51{
// 	background-color: hotpink;
// }