

// =====================================================================================================================

//    											 FIND-US PAGE 

// ======================================================================================================================


.page-template-page-findus{
	.site-content {
		flex-direction: row-reverse;
		font-family: 'main-light';
		margin-top: -7px;
		
	}
	.content-area{
		margin-left: 4%;
		
	}

	.entry-content{
		margin-top:10%;
		margin-top: 10%;
		margin-left: 5%;
		margin-right:5%;
	}

	.entry-title{
	color: black;
    text-transform: uppercase;
    font-family: 'headings-bold';
	}

	.entry-content h2{
		text-transform: uppercase;
		color:black;
		font-family: 'headings-bold';
		font-size:2rem;
	}

	.entry-content p{
		font-family: 'main-light';
		
	}



	input, textarea{
		background-color: #f4f4f4;
		border-radius: 0px;
		border:1px solid $lightgrey;

	}

	input[type=submit] {
		background-color: $green;
		box-shadow: none;
		border:none;
		width:6rem;
		height:2.5rem;
		color:white;
		text-shadow: none;
		font-family: 'headings';
		text-transform:uppercase;

	}


	label{
		font-family: 'headings';
		text-transform:uppercase;
		
	}

	span.star{
		color:$orange;
	}
}