

// =====================================================================================================================

//    											 FIND-US PAGE 

// ======================================================================================================================


.page-template-page-findus{
	.site-content {
		flex-direction: row-reverse;
		font-family: 'Merriweather-L';
		
	}

	.entry-content{
		margin-top:10%;
		margin-top: 10%;
		margin-left: 5%;
		margin-right:5%;
	}

	.entry-title{
	color: black;
    text-transform: uppercase;
    font-family: 'headings-bold';
	}

	.entry-content h2{
		text-transform: uppercase;
		color:black;
		font-family: 'Merriweather-L';
	}


	.widget-area{
		width:40%;
		margin-top:15%;
	}
}