

footer .site-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../css/images/logos/inhabitent-logo-text.svg),url(../css/images/dark-wood.png);
    background-size: 20%,cover;
    background-position: 100%;
    background-repeat: no-repeat,no-repeat;
    background-position-y: 15%;
    background-position-x: 95%;
    margin-top:5%;

  
    div{

     
        flex-direction: column;
        flex-wrap:wrap;
        color:white; 
        font-family: 'main-light';
        
       
        height:auto;
        width:30%;
        margin-left:3rem;
      
        h3{
            color:$orange;
            font-family: 'headings-bold';
            font-size:1.3rem;
            width:100%;
            text-transform:uppercase;
        }

        a{
            color:white;
            font-family: 'main-light';
            text-decoration: none;
            font-size:1rem;
        }
        a:hover{
            text-decoration: underline;
            color:white;
        }

       
        
    }

    .copyright-wrapper{
        width: 100%;
        color: white;
        text-align: center;
        font-family:'headings';
        text-transform:uppercase;
    }


}
    


    


    









