// header div and logo ! the navigation bar is on a separate partial


.site-header {
    
        position:relative;
        margin-top: 1.5rem;
        display: -ms-flexbox;
        display: inline-flex;
        flex-wrap:wrap;
        -ms-flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width:100%;
        min-width:1120px;
        border-bottom:1px solid $lightgrey;

        
}

.menu-toggle{
    display:none;
}

    


.site-branding{
    margin-left:5rem;

    .logo-link {
        background-image: url('../css/images/logos/inhabitent-logo-tent.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 50px;  
        height: 50px;
        margin-left:5rem;

       a{
        width: 50px;
        height: 50px; 
    }
    }
}

.page-template-page-main,
.page-template-about,
.adventures-template-default.single-adventures{

    header{
        border-bottom:none;
        position:absolute;
    }

    .site-branding{
        margin-left:5rem;

        .logo-link {
            background-image: url('../css/images/logos/inhabitent-logo-tent-white.svg'); 
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            width: 50px;
            height: 50px;
            margin-left:5rem;

            a{
                width: 50px;
                height: 50px; 
            }
        }
    }   
    
    .menu-toggle{
        display:none;
    }
}

.adventures-template-default.single-adventures{
    header{
        border-bottom:none;
    }

}