
/* Front page */
.page-template-page-main {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 


    

  
    


    .site-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: auto;
    }



// =================================================================================================================================================================  

//                                                                          HEADER

// ==================================================================================================================================================================
   



    .banner-logo {
         background-image: url('../css/images/logos/inhabitent-logo-full.svg'), url('../css/images/home-hero.jpg');
        background-size: auto, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        width: 100%;
       height: 50rem;
    }


    .main-navigation a {
        color:white;
    }
        a:hover{
            color: $yellow;
        }

     
        
// container for all sub-sections

section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;

    .section-wrapper{
        width:80%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
}


}









// =================================================================================================================================================================  

                                                                            // SHOPPING CATEGORIES

// ==================================================================================================================================================================   



.page-template-page-main {




.shop-categories{
    display: inline-flex;
    width: 100%;
    justify-content: center;


}

.shop-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;

}


    .shop-categories ul{
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;


        li{
            width: 23%;
            margin: 1%;
        
        }

    }
.shop-categories img {
    height: auto;
    max-width: 100%;
    width: 60%;

    }


    .do-category,
    .eat-category,
    .sleep-category,
    .wear-category{
        display: flex;
        width: 100%;
        height:100%;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid #e1e1e1;
        border-top:5px solid  #e1e1e1;

        
    }

    .do-category:hover {
        border: 1px solid $orange;
        border-top:5px solid $orange;
    }
    .sleep-category:hover{
        border: 1px solid $orange;
        border-top:5px solid $orange;
    }
    .wear-category:hover{
        border: 1px solid $orange;
        border-top:5px solid $orange;
    }

    .eat-category:hover{
        border: 1px solid $orange;
        border-top:5px solid $orange;
    }

    .do-icon,
    .eat-icon,
    .sleep-icon,
    .wear-icon{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height:30%;

        img{
            width:30%;
            margin:10%;
        }
    }

    .category-description{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        

        p{
            text-align:center;
            font-family: 'main-light';
            margin:5%;
        }

        button{
            background-color:$green;
            border:none;
            width:55%;
            height:3rem;
            box-shadow:none;
            border-radius:0px;

            a{
            font-family:'headings';
            text-transform: uppercase;
            text-decoration:none;
            color:white;
            text-shadow:none;
            
            }

        }

    }
    
}

// =================================================================================================================================================================  

                                                                                    // LATESTS POSTS

// ==================================================================================================================================================================    
   

.page-template-page-main{


    .latest-post-heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1%;
        width: 100%;
        align-content: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: 'headings';
    }



    .posts-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        // justify-content: center;

    
    }

    .last-posts {
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'main-light';
    
    
       


        .single-thumbnail {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1%;
            border: solid 1px lightgrey;
            flex-basis: 31%;
            height:100%;
            font-size: 1rem;
            
                .thumbnail-wrapper{

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                height: 50%;
                 



                    img {
                        
                        max-width: 100%;
                        width:100%;
                        height:100%;
                        border-bottom: solid 5px lightgrey;
                    }
                }
                .single-thumbnail-meta {
                    margin-top: 1%;
                    display:flex;
                    flex-direction:row;
                    flex-wrap:wrap;
                    height:50%;
                    width:100%;
                    align-items: flex-end;
                    margin-left:5%;

                    .post-info{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        font-size:0.85rem;
                    }
                  
                    

                    a{
                        color:$green;
                        font-size:1.5rem;
                        font-family:'headings-bold';
                        text-transform: uppercase;
                        text-decoration:none;
                    }
                    
                    a:hover{
                        color:black;

                    }

                    button{
                        display:flex;
                        flex-direction:row;
                        flex-wrap:wrap;
                        justify-content: center;
                        align-content: center;
                        
                        background-color:white;
                        border-radius:0px;
                        box-shadow:none;
                        border:1px solid black;
                        height:3rem;
                        width:10rem;
                        margin-bottom: 10%;


                        p{
                            text-shadow:none;
                            font-family:'headings';
                            font-size:1rem;
                            color:black;
                            text-transform:uppercase;
                            margin:0px;
                            
                        }

                      
                    }

                    .post-button button:hover{
                        background-color:$green;
                        border:none;

                        p{
                        color:white;
                        }
                    }
        
                }
        }    

        
    }//last posts


}//page template main

// =================================================================================================================================================================  

                                                                                    // JOURNAL PREVIEW

// ==================================================================================================================================================================  
 
.page-template-page-main {


    .adventures-gallery-wrapper{
        margin-top:10%;
        width:100%;
        max-width:100%;
        height: 30rem;
    
        .adventures-gallery {
        width:100%;
        height: 100%;
        max-width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        grid-gap:0.5rem;
    
        }

    }    


    .single-adventure img{
        width:100%;
        position:relative;

     
    }

    .single-adventure a{
        position:absolute;
        font-family:'main-bold';
        font-size:2rem;
         max-width:80%;
        word-break:break-word;
        color:white;
        text-shadow:none;
        text-decoration:none;
        margin-top:5%;
        margin-left:1%;
        text-transform:capitalize;
    }

    .single-adventure a:hover{
        color:$yellow;
    }
    
    
    
    
    
        .single-adventure:nth-child(1){
            position:relative;
            grid-column-start:1 ;
            grid-column-end:3 ;
            grid-row-start:1;
            grid-row-end:3;
           

             img{
             position:absolute;
              width:100%;
              height:100%;
              
               }

               a{
                position:absolute;
            }
           
         }

    

    
        .single-adventure:nth-child(2){
            position:relative;
            grid-column-start:3 ;
            grid-column-end:5;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .single-adventure:nth-child(2) img{
                position:absolute; 
                width:100%;
                height:100%;
             
            }

              .single-adventure:nth-child(2) a{
            position:absolute;
            }
        }



        .single-adventure:nth-child(3){
            grid-column-start:3;
            grid-row-start:2;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .single-adventure img{
            position:absolute;
            width:100%;
            height:100%;
            
    
            }

            a{
                display:block;
                font-size:0.8rem;
                width:10rem;
            }
        }

        .single-adventure:nth-child(4){
           
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

                .single-adventure img{
                    width:100%;
                    height:100%;
                }

                a{
                    display:block;
                    font-size:0.8rem;
                    width:10rem;
                }

        }

        
    

        .single-adventure button {

        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
        align-content: center;
        background-color:transparent;
        border-radius:0px;
        box-shadow:none;
        border:2px solid white;
        height:3rem;
        width:5rem;
        margin: 0px;

            p{ 
                
                text-decoration:none;
                text-shadow:none;
                color:white;
                text-transform:uppercase;
                font-family: 'headings';
                margin:0px;

            }

         }

         .single-adventure button:hover{
             background-color:$green;
             border:none;
         }

         .adventure-page-button  button{

            display:inline-flex;
            // flex-direction:row;
            flex-wrap:wrap;
           // justify-content: center;
           // align-content: center;
            background-color:$green;
            border-radius:0px;
            box-shadow:none;
            border:2px solid white;
            height:3.2rem;
            width:18rem;
            margin: 0px;
    
                a{ 
                    
                    text-decoration:none;
                    text-shadow:none;
                    color:white;
                    text-transform:uppercase;
                    font-family: 'headings';
                    margin:0px;
                    font-size:1.5rem;
    
                }
    
             }
    
        footer{
            margin-top:10%
        }
    
    
    
    
    
    
    
    
    
    
    
    















 }