/* Front page */

.page-template-page-main {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    .site-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: auto;
    }


    // =================================================================================================================================================================  
    //                                                                          HEADER
    // ==================================================================================================================================================================
    
    
    .banner-logo {
        background: url('../css/images/logos/inhabitent-logo-full.svg'), linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url('../css/images/home-hero.jpg');
        background-size: auto, cover, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center, center;
        width: 100%;
        height: 50rem;
    }

    .main-navigation a {
        color: white;
    }
    a:hover {
        color: $yellow;
    }

    section {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .section-wrapper {
            width: 85%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}//page template main banner cection

// =================================================================================================================================================================  
// SHOPPING CATEGORIES
// ==================================================================================================================================================================   


.page-template-page-main {


    .shop-section-title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5%;

        h1 {
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Novecento';
            font-weight: normal;
            font-style: normal;
        }
    }

    .shop-categories {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    .shop-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5%;
        justify-content: space-between;
    }

    .shop-categories ul {
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        li {
            width: 23%;
            margin: 1%;
        }
    }

    .shop-categories img {
        height: auto;
        max-width: 100%;
        width: 60%;
    }

    .shop-categories{

        .product-type li{

            display: flex;
            flex-basis: 23%;
            flex-direction: row;
            flex-wrap: wrap;
            border: 1px solid $lightgrey;
            border-top: 5px solid $lightgrey

        }    
        ul{
        list-style: none;
        height: 20rem;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        }

        li:hover{
            border: 1px solid $orange;
            border-top: 5px solid $orange;
        }

        .shop-icon{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            width:5rem;
            background-size: contain;
            background-repeat: no-repeat;

            img {
                width: 30%;
                margin: 10%;
            }
        }
        .icon-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 25%;
            justify-content: center;
            margin-top: 5%;
        }

        .product-type{

        
            li:nth-child(1) .shop-icon{
                background-image: url('product-type-icons/do.svg');
            
            }

            li:nth-child(2) .shop-icon{
                background-image: url('product-type-icons/eat.svg');
            
            }
            li:nth-child(3) .shop-icon{
                background-image: url('product-type-icons/sleep.svg');
            
            }
            li:nth-child(4) .shop-icon{
                background-image: url('product-type-icons/wear.svg');
            }
        
        }
        
        .category-description {
            height: 70%;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                font-family:'Merriweather';
                font-weight: 300;
                font-style: normal;
                margin-left: 2%;
                margin-right: 2%;
                margin-top: 0px;
                margin-bottom: 0px;
            
            }

        }    
        .button-wrapper{
            width: 100%;
            display:flex;
            justify-content: center;
            button {
                background-color: $green; 
                border: none;
                width: 57%;
                height: 3rem;
                box-shadow: none;
                border-radius: 0px;

                a {
                    font-family: 'Novecento';
                    font-weight: normal;
                    font-style: normal;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    text-shadow: none;
                    font-size:0.9rem;
                }
            }

            button:hover {
                background-color:#1a6560;
            }
        }

    }    //shop categories
}  //page-template-main shopping categories

// =================================================================================================================================================================  
// LATESTS POSTS
// ==================================================================================================================================================================    
.page-template-page-main {

    .latest-post-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1%;
        width: 100%;
        align-content: center;
        justify-content: center;
        text-transform: uppercase;

        h1{
        font-family: 'Novecento';
        font-weight: normal;
        font-style: normal;
        }
    }

    .posts-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    }

    .last-posts {
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family:'Merriweather';
        font-weight: 300;
        font-style: normal;

        .single-thumbnail {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1%;
            border: solid 1px $lightgrey;
            flex-basis: 31%;
            height: 100%;
            font-size: 1rem;

            .thumbnail-wrapper {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                height: 50%;

                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    border-bottom: solid 5px $lightgrey;
                }
            }

            .single-thumbnail-meta {
                margin-top: 1%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 50%;
                width: 100%;
                align-items: flex-end;
                margin-left: 5%;

                .post-info {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    font-size: 0.85rem;
                }

                a {
                    color: $green;
                    font-size: 1.5rem;
                    font-family: 'Novecento';
                    font-weight: 600;
                    font-style: normal;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                a:hover {
                    color: black;
                }

                button {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    background-color: white;
                    border-radius: 0px;
                    box-shadow: none;
                    border: 1px solid black;
                    height: 3rem;
                    width: 10rem;
                    margin-bottom: 10%;

                    p {
                        text-shadow: none;
                        font-family: 'Novecento';
                        font-weight: normal;
                        font-style: normal;
                        font-size: 1rem;
                        color: black;
                        text-transform: uppercase;
                        margin: 0px;
                    }
                }

                .post-button button:hover {
                    background-color: $green;
                    border: none;
                    p {
                        color: white;
                    }
                }
            }
        }
    } //last posts
} //page template main latest posts


// =================================================================================================================================================================  
// JOURNAL PREVIEW
// ==================================================================================================================================================================  


.page-template-page-main {

    .latest-adventures-title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5%;

        h1 {
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Novecento';
            font-weight: normal;
            font-style: normal;
        }
    }

    .adventures-gallery-wrapper {
        margin-top: 5%;
        width: 100%;
        max-width: 100%;
        height: 30rem;

        .adventures-gallery {
            width: 100%;
            height: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 50% 50%;
            grid-gap: 0.9rem;
        }
    }


    .single-adventure img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
    }

    .single-adventure a {
        position: absolute;
        font-family:'Merriweather';
        font-weight: 300;
        font-style: normal;
        font-size: 3rem;
        max-width: 95%;
        word-break: break-word;
        color: white;
        text-shadow: none;
        text-decoration: none;
        margin-top: 5%;
        margin-left: 1rem;
        text-transform: none;

        p {
            margin: 0px;
        }
    }

    .single-adventure a:hover {
        color: $yellow;
    }

    .single-adventure:nth-child(1) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
        position: relative;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        a {
            position: absolute;
            //width: 20rem;
        }
    }


    .single-adventure:nth-child(2) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
        position: relative;
        grid-column-start: 3;
        grid-column-end: 5;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .single-adventure:nth-child(2) img {
            position: absolute;
            width: 100%;
            height: 100%;
        }

    }

    .single-adventure:nth-child(2) a {
        position: absolute;
        margin-left: 1rem;
        font-size: 2.5rem;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: row;
        height: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    } 

    .single-adventure:nth-child(3) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
        grid-column-start: 3;
        grid-row-start: 2;
    
    }
    .single-adventure:nth-child(3) ,
    .single-adventure:nth-child(4) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        

        .single-adventure img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 1.5rem;
            width: 10rem;
            height: 4rem;
            margin-top: 1%;
            margin-left: 3%; 
            margin-top:3%; 
        }

        button{
            margin:3%;
        }
    }

    .single-adventure button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 2px solid white;
        height: 3rem;
        width: 8rem;
        margin: 0px;

        p {
            text-decoration: none;
            text-shadow: none;
            color: white;
            text-transform: uppercase;
            font-family: 'Novecento';
            font-weight: normal;
            font-style: normal;
            margin: 0px;
        }
    }
    .single-adventure button:hover {
        background-color: $green;
        border: none;
    }

    
    .adventure-page-button button {
        display: inline-flex;
        flex-wrap: wrap; 
        background-color: $green;
        border-radius: 0px;
        box-shadow: none;
        border: 2px solid white;
        height: 3.2rem;
        width: 18rem;
        margin: 0px;

        a {
            text-decoration: none;
            text-shadow: none;
            color: white;
            text-transform: uppercase;
            font-family: 'Novecento';
            font-weight: normal;
            font-style: normal;
            margin: 0px;
            font-size: 1.5rem;
        }
    }

    .adventure-page-button :hover {
        background-color:#1a6560;
    }
    footer {
        margin-top: 10%
    }
}//page template main latest adventures and footer