/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

// ==============================================================================================
//									 NAVIGATION GLOBAL STYLING
// ==============================================================================================

.main-navigation {
	display: inline-flex;
	max-width: 1120px;
	justify-content: flex-end;
	width: 80%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			//float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
			// :hover>a,
			// .focus>a {}
			// a:hover,
			// a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	// li {
	// 	// &:hover>a,
	// 	// &.focus>a {}
	// }

	a {
		display: block;
		text-decoration: none;
		font-family: 'Novecento';
		font-weight: normal;
		font-style: normal;
		color: $green;
		;
	}
	a:hover{
		color:black;
	}
	// .current_page_item>a,
	// .current-menu-item>a,
	// .current_page_ancestor>a {}
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: none;
}

.main-navigation ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
	li {
		margin-right: 3%;
	}
}

.menu-navigation-container {
	display: inline-flex;
	flex-wrap: wrap;
	width: 96%;
}

.site-branding {
	width: 50px;
	height: 50px;
}

.site-header {

	form#search-toggle.search-form {

		display: none;
		height: 2rem;
		margin-top: 1.4rem;

		fieldset {
			border: none;
			box-shadow: none;

			input:focus {
				outline: none;
			}

			input[type=search] {

				background-color: transparent;
				border: none;
				width: 10px;
				transition: width 0.5s ease-in-out;
				color: grey;
			}

			input[type=search]:focus {
				width: 100%;
			}

			::placeholder {
				color: grey;
				font-size:0.7rem;
				
			}

		} //fieldset

	} //form#search-toggle.search-form

} //site-header


.navigation-searchbar {

	display: inline-flex;
	flex-wrap: wrap;
	margin-top: -2rem;
	padding-right: 10%;

	form {

		display: block;
		width: 90%;
		order: 2;
	}

	button {

		background-color: transparent;
		box-shadow: none;
		border: none;
		padding: 0px;
		width:1rem;
		outline: none;

		i {
			color: $green;
			text-shadow: none;
			font-size: 1rem;
		}

		i:hover{
			color:black;
		}
	}
} //navigation search bar



// ==============================================================================================
//									 JOURNAL PAGE STYLING SPECS
// ==============================================================================================



body.blog,
.products-template-default {

	button#toggle-searchbar {
		margin-top: 7%;
		border: none;
	}
}



// ==========================================================================================================================
//									 MAIN / ABOUT 
// =========================================================================================================================


.page-template-about,
.page-template-page-main {

	.site-header {

		.main-navigation a {
			color: white;
		}
		.main-navigation a:hover{
			color:$yellow;
		}

		form#search-toggle.search-form {

			input[type=search] {

				background-color: transparent;
				border: none;
				width: 10px;
				transition: width 0.1s ease-in-out;
				
				color: white;
			}

			input[type=search]:focus {
				width: 100%;
			}

			::placeholder {
				color: white;
				
			}

		} //site header form#search-toggle.search-form

		.navigation-searchbar button i {
			color: white;
			
		}
		.navigation-searchbar button i:hover{
			color:$yellow;
		}

	} //site header

} // template main / template about


// ==========================================================================================================================
//						 PRODUCTS / TAG ARCHIVE/ CATEGORY ARCHIVE/ ADVENTURES   
// =======================================================================================================

body.archive.date,
body.archive.tag,
body.archive.category,
.products-template-default,
.search.search-results,
.adventures-template-default.single-adventures {

	.navigation-searchbar {
		flex-wrap: nowrap;
		
		button {
			background-color: transparent;
			border: none;
			width: 5%;
			//margin-top: 7%;
		}
	}
}

body.blog{
	
	.main-navigation{
		button{
			width:100%;
			height:auto;
		}

		.navigation-searchbar{
			flex-wrap:nowrap;

		}

		fieldset{
			width:10rem;
		}
	}
}

.adventures-template-default.single-adventures{

	.navigation-searchbar{
		padding-top: 1.5%;

		button{
			margin:0px;
		}
	}

	.site-header form#search-toggle.search-form {
		display: none;
		height: 2rem;
		margin-top: 0.4rem;
	}
}