/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

body.page-id-132{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;


    .banner-logo{
        background-image:url('../css/images/logos/inhabitent-logo-full.svg'), url('../css/images/home-hero.jpg');
        background-size: auto, cover;
        background-repeat: no-repeat,no-repeat;
        background-position: center, center;
        width: 100%;
        height: 100rem;
    }

    .site-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: auto;
    }


}