
.archive.tax-product_type{



    .site-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10%;
        justify-content: center;
       
    }

    .hentry {
        width: 100%;
        justify-content: center;
        padding: 5%;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h1 {
            text-transform: uppercase;
            font-family: 'headings-bold';
        }
    }

    .content-area {
        display: flex;
        width: 90%;
        margin-top: 5%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .site-main {
            height: 10rem;
            width: 97%;
            border-bottom: 1px dashed $lightgrey;
            display:flex;
            justify-content:center;
            flex-direction: column;

            h1, p{
                display:flex;
                justify-content:center;
            }

            h1{
                text-transform:uppercase;
                font-size:2.5rem;
            }

            p{
                font-family:'main-light';
            }

           
        }

        a {
            color: $green;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'headings';
        }
    }

    .products-gallery{
        padding-top: 5%;

    }
    .products-gallery-wrapper{
        display: flex;
      
    

    }

    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10%;
        width: 100%;
        margin-left: 7%;
        margin-right: 7%;
        justify-content: space-between;
    }

    .single-product {
        flex-direction: column;
        display: flex;
        align-items: center;
        flex-basis: 24%;
        border: 1px solid #e1e1e1;
        margin: .3rem;
        
        .product-info{     
    
            height: 3rem;
            justify-content: center;
            margin-bottom: .2rem;
            text-align: center;
            align-items: center;
            display: inline-flex;
            width: 100%;
        }
        
    }
    img {
        border-bottom: 4px solid $lightgrey;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .product-image{
        display: flex;
        flex-wrap: wrap;
        height: 85%;
    }

    .product-info a {
        color: black;
        margin: 0px;
        font-family: 'main-light';
        text-decoration: none;
        font-size: 0.9rem;
        text-transform:capitalize;
    }

    
}