.search.search-no-results {
    min-width: 1120px;
    display: flex;
    flex-wrap: wrap;

    .hfeed.site {
        width: 100%;
    }

    .site-content {
        display: flex;
        flex-direction: row-reverse;
       
    }

    .content-area {
        width: 80%;
        
    }

    .sidebar-wrapper{
        margin-top:-7px;
    }

    .widget-area{
        padding-left: 20%;
    }

    .site-main {
        margin: 16%;
        padding: 5%;
        border-top: 1px solid #e1e1e1;
        margin-top: 5%;
        margin-left: 5%;
    }

    .page-content {
        form#search-toggle.search-form {
            display: block;
            fieldset {
                border: none;

                input[type=search]{
                   background-color:$lightgrey;
                   border-radius:0px;
                }
                input{
                    font-family:"main-light";
                    font-size:1rem;

                }
            }
        }
    }

    .page-content button {
        display: none;
    }
    
}
