.page-template-archive-products{
    background-color:white;

    .products-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
    width:100%;
    margin-left:10%;
    margin-right:10%;
    justify-content: space-between;
    }
   

    .single-product{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 20%;
        border: 1px solid lightgrey;
        margin: 1%;

      
    }

//     .product-img{
    
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: column;
//         width: 100%;
//         height: auto;
//         margin-top:0px;
//     }

    
 }