.page-template-archive-products{
    background-color:white;

    .products-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
    }
    .site-content{
        margin-left: 7%;
        margin-right: 5%;
    }

    .single-product{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 20%;
        border: 1px solid lightgrey;
        margin: 1%;

      
    }

    .product-img{
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top:0px;
    }

    
}