.products-template-default {

    display: flex;
    flex-wrap: wrap;

    .site-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 1120px;
        margin-top:5%;
    }

    .site-main {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

  


    article{
        display: flex;
        width: 40%;
        height: 100%;
        flex-direction: column;
        margin-left: 3%;
    }

    .entry-header{
    margin-top: 10%;
    }

    .entry-title{
        width: 50%;
        height: 10%;
        text-align: left;
        color:#d99054;
        
        
    }

    
    .product-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 45%;
        margin-left: 5%;
        margin-top:5%;

            p{
                margin:0px;
            }
    }


    .site-main .post-navigation, .site-main .posts-navigation {
        margin: 0 0 1.5rem;
        overflow: hidden;
        width: 100%;
        margin: 1rem;
    }

    .social-media-buttons{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        width:100%;
        margin-top:2%;
    }

    button{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        width:8rem;
        height:3rem;
        box-shadow:none;
        text-shadow:none;
        color:black;
        background-color:white;
        border-radius:0px;
        border:1px solid black;
        margin:2%;

            p{
                margin:0px;
                margin-left:3%;
                text-transform:uppercase;
                font-family:'headings';
                font-size:1rem;
            }

            i{
                font-size:1rem;
            }
            
    }





}