.post-template-default{
   

    .content-area{
        margin-top: 7%;
        padding-left: 8%;
        padding-right: 3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-right: 1px solid #e1e1e1;
        width: 70%;

    }


    .entry-header img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    .site-main{
        margin-top:10%;
        width:100%;
    }

    .entry-header{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        position:relative;

        h1{
            background-color:$green;
            position:absolute;
            padding:2%;
            text-transform:uppercase;
            font-size:2.5rem;
            font-family:'headings-bold';
            align-items: center;
        
        }

       
        .entry-meta{
            position: absolute;
            right: 0;
            bottom: 0; 
            justify-content: flex-end;
            padding: 1%;

        }
    }

    .entry-meta,
    .entry-header{
        background-color:$green;
        color:white;
        a, span{
            text-decoration: none;
            color:white;
            text-transform: uppercase;
        }

    }

    .entry-content{
        margin-top:5%;
        font-family:'main-light';
        font-size:1rem;
    }

    .entry-footer{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin-top:5%;
        font-family: 'headings';
        text-transform:uppercase;
        a{
            color:$green;
            text-transform:uppercase;
            font-family: 'headings';
        }

        span.cat-links{
            margin-right:1%;
        }


    }

    .widget-area{

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 25%;
      margin-left: 1rem;
      margin-top: 5rem;
      font-family: 'main-light';
      font-size: 16px;
      padding-left: 3%;
      padding-top: 5%;
  
    }


.social-media-buttons{
    display:inline-flex;


    button{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        width:8rem;
        height:3rem;
        box-shadow:none;
        text-shadow:none;
        color:black;
        background-color:white;
        border-radius:0px;
        border:1px solid black;
        margin:1%;
        margin-left:0px;

            p{
                margin:0px;
                margin-left:3%;
                text-transform:uppercase;
                font-family:'headings';
                font-size:1rem;
            }

            i{
                font-size:1rem;
                margin-right: 5%;
            }
            
    }

    button:hover{
        background-color:$green;
        color:white;
        border:none;
    }


}



// comments 

.comments-area{
    margin-top: 10%;

    .comments-title{
    font-family:'headings';
    font-size:2rem;
    }

    .comment-list{
        margin:0px;
        padding:0px;
        margin-top: 10%;
    }


 
}



.comment-content{
    border-bottom: 1px solid $lightgrey;

    p{
        font-size:1rem;
        font-family:'main-light';
    }

}

.comment-author-avatar{
    img{
        height: auto;
        max-width: 100%;
        border-radius: 50%;
    }
}

// comment author name
.fn{
    font-size:1.3rem;
    font-family:'main-bold';
}


.comment-body{
    padding-bottom: 5%;

}


.comment-metadata{
    color:grey;
    font-family:'main';
    font-size:1.2rem;
    margin-top: 4%;

    a{
        color:$green;
     
    }
 
}


.comment-reply-title{
    text-transform:uppercase;
    font-size:2rem;
    font-family:'headings-bold';
}

.reply {
    padding-bottom: 5%;

    a{
        font-family:'main';
        color:$green;
        font-size: 1.2rem;
    }
}




.logged-in-as {

    color:$green;

    a{
        color:$green;

    }
}

.comment-respond{
    a{
        color:$green;
    }
}


// comment form when the user is logged out

    .comment-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        border-radius:0px;

        p{
            font-family:'main-light';
            font-size:1rem;
        }

        .comment-form-comment,
        .comment-form-url{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
        .comment-form-author, 
        .comment-form-email{
           
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 45%;
          
        
        }
        textarea{
            background-color: #f4f4f4;
            border-radius: 0px;
        }
        input[type=email], input[type=password], input[type=search], input[type=text], input[type=url] {
            color: #666;
            border: 1px solid #ccc;
            height:2rem;
            border-radius: 0px;
            background-color: #f4f4f4;
        }


        
        input[type=submit]{
            background-color:$green;
            border:none;
            width:7rem;
            height:3rem;
            box-shadow:none;
            border-radius:0px;
            font-family:'headings';
            text-transform: uppercase;
            text-decoration:none;
            color:white;
            text-shadow:none;
            
            

        }

        label{
            font-family:'headings';
            font-size:1rem;
            text-transform:uppercase;
            font-size:1.2rem;

            .required{
                color:$orange;
            }
        }

    }
   

}


  