.post-template-default{
   

    .content-area{
        margin-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-right: 1px solid #e1e1e1;
    }


    .entry-header img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    .site-main{
        margin-top:10%;
    }

    .entry-header{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        position:relative;

        h1{
            background-color:$green;
            position:absolute;
            padding:1%;
            text-transform:uppercase;
            font-size:2.5rem;
            font-family:'headings-bold';
        }
        .entry-meta{
            position:absolute;
            right:0px;
            bottom:0px;
        }
    }

    .entry-meta,
    .entry-header{
        background-color:$green;
        color:white;
        a, span{
            text-decoration: none;
            color:white;
            text-transform: uppercase;
        }

    }

    .entry-content{
        margin-top:5%;
        font-family:'main-light';
        font-size:1rem;
    }

    .entry-footer{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin-top:5%;
        a{
            color:$green;
            text-transform:uppercase;
            font-family: 'headings';
        }

        span.cat-links{
            margin-right:1%;
        }

        .social-media-buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;


            button{
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content: center;
                align-content: center;
                background-color:white;
                border-radius:0px;
                box-shadow:none;
                border:1px solid black;
                height:3rem;
                width:8rem;
                margin-right: 1%;
                margin-top:5%;


                p{
                    text-shadow:none;
                    font-family:'headings';
                    font-size:1rem;
                    color:black;
                    text-transform:uppercase;
                    margin:0px;
                    
                }
            }

        }
    }



    .comment-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        border-radius:0px;

        .comment-form-comment,
        .comment-form-url{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
        .comment-form-author, 
        .comment-form-email{
           
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 45%;
            margin:1%;
        
        }
        textarea{
            background-color: #f4f4f4;
            border-radius: 0px;
        }
        input[type=email], input[type=password], input[type=search], input[type=text], input[type=url] {
            color: #666;
            border: 1px solid #ccc;
            height:2rem;
            border-radius: 0px;
            background-color: #f4f4f4;
        }


        
        input[type=submit]{
            background-color:$green;
            border:none;
            width:7rem;
            height:3rem;
            box-shadow:none;
            border-radius:0px;
            font-family:'headings';
            text-transform: uppercase;
            text-decoration:none;
            color:white;
            text-shadow:none;
            
            

        }

        label{
            font-family:'main-light';
            font-size:1rem;
            text-transform:uppercase;
        }

    }
   

}


  