.products-template-default {
    
    display: flex;
    flex-wrap: wrap;

    .site-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1440px;
    }

    .site-main {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

  


    article{
        display: flex;
        width: 40%;
        height: 100%;
        margin-top: 7%;
        flex-direction: column;
        margin-left: 3%;
    }

    .entry-header{
    margin-top: 10%;
    }

    .entry-title{
        width: 50%;
        height: 10%;
        margin-top: 10%;
        text-align: left;
        color:#d99054;
        
        
    }

    
        .product-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 45%;
            margin-left: 5%;
            margin-top:5%;
        }


        .site-main .post-navigation, .site-main .posts-navigation {
            margin: 0 0 1.5rem;
            overflow: hidden;
            width: 100%;
            margin: 1rem;
        }







}