/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 $base__space-unit;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}

// sidebar 
// contact & buisness hours 
.widget-area {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0% 5% 0% 0%;
	font-family:'Merriweather';
	font-weight: 300;
    font-style: normal;
	font-size: 16px;
	padding-left: 3%;
	border-left: 1px solid $lightgrey;
}

.widget.widget_text {
	margin-top: 10%;
	p:nth-child(1),
	p:nth-child(2) {
		color: $green;
		i {
			color: black;
		}
	}
}

.widget.inhabitent-buisness-hours-class p,
.widget.inhabitent-contact-info-class p {
	font-family:'Merriweather';
	font-weight: 300;
    font-style: normal;
}

.widget.inhabitent-buisness-hours-class h3,
.widget.widget_text h2, .widget-title {
	font-family: 'Novecento';
	font-weight: 600;
    font-style: normal;
	font-size: 1.5rem;
	text-transform: uppercase;
}

span.day-of-the-week {
	font-weight: bold;
}

.textwidget a {
	color: $green;
	text-decoration: none;
}

.textwidget a:hover {
	color: black;
}

// archive 
.widget.widget_archive {
	margin-top: 15%;
}

.widget.widget_archive a {
	color: #248a83;
	;
	text-decoration: none;
	font-family:'Merriweather';
	font-weight: 300;
    font-style: normal;
}

.widget.widget_archive ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

// from 404 page 
.error404 {
	.widget.inhabitent-buisness-hours-class {
		width: 100%;
	}
}

.page-template-page-findus{
	.widget-area{
		width:40%;
		
	}
}
